<?xml version="1.0" encoding="UTF-8" standalone="yes"?>


<sc>
  <s x="-80.0001" y="-45" ax="1536" ay="864" sx="1" sy="1" rz="0" w="1440" h="810" t="1" c="0x000000FF"/>
  <i x="-40.3908" y="-3.75" ax="1451.5" ay="776" sx="1" sy="1" rz="0" w="1360.78" h="727.5" t="1" url="Tablet-BG-Shapes.png"/>
  <i x="-80.0001" y="-45" ax="1536" ay="864" sx="1" sy="1" rz="0" w="1440" h="810" t="0.3" url="http://pmd205604tn.download.theplatform.com.edgesuite.net/Demo_Sub_Account_2/772/294/BigBuckBunny_Hero.png"/>
  <i x="41.2437" y="150.558" ax="350" ay="525" sx="1" sy="1" rz="0" w="327.703" h="491.541" t="0.999989" url="http://pmd205604tn.download.theplatform.com.edgesuite.net/Demo_Sub_Account_2/772/294/BigBuckBunny_Poster.jpg"/>
  <i x="41.3608" y="489.424" ax="0.5" ay="162.5" sx="699.5" sy="1" rz="0" w="327.469" h="152.148" t="1" url="Tablet-Gradient-Featured.png"/>
  <s x="41.2437" y="150.558" ax="350" ay="525" sx="1" sy="1" rz="0" w="327.703" h="491.541" t="0.3" c="0x000000FF"/>
  <t x="59.9691" y="594.823" ax="0" ay="29.1998" sx="1" sy="1" rz="0" w="168.145" h="28.0825" t="1" c="0xFFFFFFFF" ff="Arial" ft="Big Buck Bunny" fs="Regular" fz="24.343"/>
  <i x="401.719" y="150.469" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.846" h="235.781" t="0.999989" url="http://pmd205604tn.download.theplatform.com.edgesuite.net/Demo_Sub_Account_2/7/718/Camanindes1_Poster.jpg"/>
  <i x="401.769" y="234.141" ax="0.5" ay="162.5" sx="340.785" sy="1" rz="0" w="159.746" h="152.344" t="1" url="Tablet-Gradient-Small.png"/>
  <s x="401.719" y="150.469" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.846" h="235.781" t="0.3" c="0x000000FF"/>
  <t x="417.422" y="345.531" ax="0" ay="29.1998" sx="1" sy="1" rz="0" w="110.387" h="27.125" t="1" c="0xFFFFFFFF" ff="Arial" ft="Camanindes: Llama Drama" fs="Regular" fz="12.1875"/>
  <i x="401.719" y="405.936" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.846" h="235.783" t="0.999989" url="http://pmd205604tn.download.theplatform.com.edgesuite.net/Demo_Sub_Account_2/820/219/TearsOfSteel_Poster.jpg"/>
  <i x="401.769" y="489.605" ax="0.5" ay="162.5" sx="340.785" sy="1" rz="0" w="159.746" h="152.348" t="1" url="Tablet-Gradient-Small.png"/>
  <s x="401.719" y="405.936" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.846" h="235.783" t="0.3" c="0x000000FF"/>
  <t x="417.422" y="614.036" ax="0" ay="29.1998" sx="1" sy="1" rz="0" w="75.3831" h="14.0894" t="1" c="0xFFFFFFFF" ff="Arial" ft="Tears of Steel" fs="Regular" fz="12.1875"/>
  <i x="579.844" y="150.469" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.844" h="235.781" t="0.999989" url="http://pmd205604tn.download.theplatform.com.edgesuite.net/Demo_Sub_Account_2/411/535/ElephantsDream_Poster__134330.jpg"/>
  <i x="579.894" y="234.141" ax="0.5" ay="162.5" sx="340.785" sy="1" rz="0" w="159.743" h="152.344" t="1" url="Tablet-Gradient-Small.png"/>
  <s x="579.844" y="150.469" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.844" h="235.781" t="0.3" c="0x000000FF"/>
  <t x="595.547" y="358.656" ax="0" ay="29.1998" sx="1" sy="1" rz="0" w="95.9922" h="14" t="1" c="0xFFFFFFFF" ff="Arial" ft="Elephants Dream" fs="Regular" fz="12.1875"/>
  <i x="579.844" y="405.936" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.844" h="235.783" t="0.999989" url="http://pmd205604tn.download.theplatform.com.edgesuite.net/Demo_Sub_Account_2/1000/463/Sintel_Poster.jpg"/>
  <i x="579.894" y="489.605" ax="0.5" ay="162.5" sx="340.785" sy="1" rz="0" w="159.743" h="152.348" t="1" url="Tablet-Gradient-Small.png"/>
  <s x="579.844" y="405.936" ax="170.5" ay="251.5" sx="1" sy="1" rz="0" w="159.844" h="235.783" t="0.3" c="0x000000FF"/>
  <t x="595.547" y="614.036" ax="0" ay="29.1998" sx="1" sy="1" rz="0" w="31.3367" h="14.0894" t="1" c="0xFFFFFFFF" ff="Arial" ft="Sintel" fs="Regular" fz="12.1875"/>
  <i x="10.7225" y="11.3672" ax="128.5" ay="120" sx="1" sy="1" rz="0" w="120.487" h="112.508" t="1" url="Tablet-Youi-Logo.png"/>
</sc>

<sc>
  <s x="-320" y="-180" ax="1536" ay="864" sx="1" sy="1" rz="0" w="1920" h="1080" t="1" c="0x000000FF"/>
  <i x="-267.188" y="-125" ax="1451.5" ay="776" sx="1" sy="1" rz="0" w="1814.38" h="970" t="1" url="Tablet-BG-Shapes.png"/>
  <i x="-320" y="-180" ax="1536" ay="864" sx="1" sy="1" rz="0" w="1920" h="1080" t="0.3" url="http://pmd205604tn.download.theplatform.com.edgesuite.net/Demo_Sub_Account_2/772/294/BigBuckBunny_Hero.png"/>
  <i x="50.6249" y="548.929" ax="174.5" ay="41" sx="1" sy="1" rz="0" w="218.142" h="51.2589" t="1" url="Tablet-Btn-WatchNow-Selected.png"/>
  <t x="92.3894" y="561.797" ax="149.5" ay="17.5199" sx="1" sy="1" rz="0" w="135.93" h="24.6649" t="1" c="0xF1F1F1FF" ff="Arial" ft="Watch Now" fs="Regular" fz="21.25"/>
  <t x="50.6249" y="427.406" ax="1.25079" ay="16.3691" sx="1" sy="1" rz="0" w="714.357" h="84.0316" t="1" c="0xF1F1F1FF" ff="Arial" ft="'Big' Buck wakes up in his rabbit hole, only to be pestered by three critters, Gimera, Frank and Rinky. When Gimera kills a butterfly, Buck decides on a payback Predator-style." fs="Regular" fz="21.25"/>
  <i x="218.25" y="364.219" ax="16" ay="15.5" sx="1.3" sy="1.3" rz="0" w="26.0186" h="25.1877" t="1" url="Icon-Star-Empty.png"/>
  <i x="176.375" y="364.219" ax="16" ay="15.5" sx="1.3" sy="1.3" rz="0" w="26.0206" h="25.1877" t="1" url="Icon-Star-Empty.png"/>
  <i x="134.5" y="364.219" ax="16" ay="15.5" sx="1.3" sy="1.3" rz="0" w="26.0225" h="25.1877" t="1" url="Icon-Star-Empty.png"/>
  <i x="92.6249" y="364.219" ax="16" ay="15.5" sx="1.3" sy="1.3" rz="0" w="26.0244" h="25.1877" t="1" url="Icon-Star-Empty.png"/>
  <i x="50.7499" y="364.219" ax="16" ay="15.5" sx="1.3" sy="1.3" rz="0" w="26.0263" h="25.1877" t="1" url="Icon-Star-Empty.png"/>
  <t x="50.6249" y="246.687" ax="146.701" ay="95.7545" sx="1" sy="1" rz="0" w="561.013" h="92.01" t="1" c="0xFFFFFFFF" ff="Arial" ft="Big Buck Bunny" fs="Regular" fz="80"/>
  <t x="284.497" y="198.75" ax="0" ay="17.5199" sx="1" sy="1" rz="0" w="48.5016" h="24.0643" t="1" c="0xFFFFFFFF" ff="Arial" ft="2011" fs="Regular" fz="21.25"/>
  <i x="124.233" y="198.75" ax="42.5" ay="9.5" sx="4.06765" sy="1.36842" rz="0" w="213.12" h="11.5174" t="1" url="Tablet-WhiteDot-Spacing.9.png"/>
  <t x="124.233" y="198.75" ax="0" ay="17.5199" sx="1" sy="1" rz="0" w="129.195" h="24.0643" t="1" c="0xFFFFFFFF" ff="Arial" ft="Adventure" fs="Regular" fz="21.25"/>
  <i x="50.6249" y="198.75" ax="42.5" ay="9.5" sx="1.63235" sy="1.28947" rz="0" w="84.702" h="10.8534" t="1" url="Tablet-WhiteDot-Spacing.9.png"/>
  <t x="50.6249" y="198.75" ax="0" ay="17.5199" sx="1" sy="1" rz="0" w="42.6147" h="24.0643" t="1" c="0xFFFFFFFF" ff="Arial" ft="9:56" fs="Regular" fz="21.25"/>
  <i x="50.6249" y="210.75" ax="42.5" ay="9.5" sx="1.10294" sy="1.39474" rz="0" w="57.24" h="14.8254" t="1" url="Tablet-WhiteDot-Spacing.9.png"/>
  <i x="1164.7" y="53.525" ax="40" ay="40" sx="1" sy="1" rz="0" w="63.0803" h="63.067" t="1" url="Btn-Back-Border-Selected.png"/>
  <i x="1180.46" y="73.2298" ax="20" ay="15" sx="1" sy="1" rz="0" w="31.5532" h="23.6582" t="1" url="Btn-Back-Arrow.png"/>
  <s x="1199.62" y="94.1854" ax="0" ay="1.5" sx="0" sy="1.11111" rz="0" w="0.0262451" h="2.63959" t="1" c="0xF1F1F1FF"/>
  <s x="1204.87" y="80.9942" ax="0" ay="1.5" sx="0" sy="1.11111" rz="180" w="0.0266113" h="2.64008" t="1" c="0xF1F1F1FF"/>
  <s x="1180.63" y="82.0905" ax="0" ay="1.5" sx="0" sy="1.11111" rz="-45" w="1.88306" h="1.87067" t="1" c="0xF1F1F1FF"/>
  <s x="1180.68" y="80.0104" ax="0" ay="1.5" sx="0" sy="1.11111" rz="45" w="1.88306" h="1.87085" t="1" c="0xF1F1F1FF"/>
  <i x="13.4374" y="14.9999" ax="128.5" ay="120" sx="1" sy="1" rz="0" w="160.647" h="150.009" t="1" url="Tablet-Youi-Logo.png"/>
</sc>

<children>
  <Rectangle
      id="BG_7"
      color="0x000000FF"
      width="1280"
      height="720"
      scaleRotateCenter="[640.000000, 360.000000]"
      scale="[1.000000, 1.000000]"
      translation="[0.000000, 0.000000]"
      rotation="0.000000"
      opacity="0.500000">
  </Rectangle>
  <Poster
      id="RadialGradient_png_8"
      uri="pkg:/assets/drawable/default/RadialGradient.png"
      width="150"
      height="150"
      scaleRotateCenter="[75.000000, 75.000000]"
      scale="[50.000000, 50.000000]"
      translation="[305.000000, 285.000000]"
      rotation="0.000000"
      opacity="0.500000">
  </Poster>
</children>

<children>
  <Group>
  <Poster translation="[0, 0]" scale="[1.0, 1.0]" width ="640" height="360" uri="http://192.168.1.9:8081/ibc2012_images/posters/1CsIv95TGyYtpNdtsAFHXeKBhVV.jpg"/>
  <Poster translation="[640, 0]" scale="[1.0, 1.0]" width ="640" height="360" uri="http://192.168.1.9:8081/ibc2012_images/posters/1DDpMc8dbAuw1CP9FgcndXG13xm.jpg"/>
  <Poster translation="[0, 360]" scaleRotateCenter="[0.0, 0.0]" scale="[1.0, 1.0]" width ="640" height="360" uri="http://192.168.1.9:8081/ibc2012_images/posters/1EngwNIvMrewBHI2tw1MGAS7oJB.jpg"/>
  <Poster translation="[640, 360]" scaleRotateCenter="[0.0, 0.0]" scale="[1.0, 1.0]" width ="640" height="360" uri="http://192.168.1.9:8081/ibc2012_images/posters/1EoMgwwwN91KEOWfjNOmYvdkqGv.jpg"/>
  </Group>
</children>

<children>
        <Rectangle
            id="BG_7"
            color="0x000000FF"
            width="1280"
            height="720"
            scaleRotateCenter="[640.000000, 360.000000]"
            scale="[1.000000, 1.000000]"
            translation="[0.000000, 0.000000]"
            rotation="0.000000"
            opacity="0.500000">
        </Rectangle>
        <Poster
            id="RadialGradient_png_8"
            uri="pkg:/assets/drawable/default/RadialGradient.png"
            width="150"
            height="150"
            scaleRotateCenter="[75.000000, 75.000000]"
            scale="[50.000000, 50.000000]"
            translation="[305.000000, 285.000000]"
            rotation="0.000000"
            opacity="0.500000">
        </Poster>
        <Group
            id="RIGHT_26"
            scaleRotateCenter="[0.000000, 0.000000]"
            scale="[1.000000, 1.000000]"
            translation="[359.000000, 99.000000]"
            rotation="0.000000"
            opacity="1.000000">
            <Group
                id="CARD_04_12"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[1150.000000, 393.000000]"
                rotation="0.000000"
                opacity="1.000000">
                <Poster
                    id="CARD_04_9"
                    uri="pkg:/assets/drawable/default/Card_04.jpg"
                    width="344"
                    height="194"
                    scaleRotateCenter="[172.000000, 97.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-172.000000, -97.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                </Poster>
                <Poster
                    id="CardGradient_png_10"
                    uri="pkg:/assets/drawable/default/CardGradient.png"
                    width="344"
                    height="100"
                    scaleRotateCenter="[172.000000, 100.000000]"
                    scale="[1.000000, 0.000000]"
                    translation="[-172.000000, -2.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                </Poster>
                <Label
                    id="S1_E8__Unto_the_Breach_11"
                    color="0xF1F1F1FF"
                    text="S1 E8: Unto the Breach"
                    scaleRotateCenter="[0.000000, 0.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-153.000000, -17.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                    <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="16" />
                </Label>
            </Group>
            <Group
                id="CARD_03_16"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[713.000000, 393.000000]"
                rotation="0.000000"
                opacity="1.000000">
                <Poster
                    id="CARD_03_13"
                    uri="pkg:/assets/drawable/default/Card_03_02.jpg"
                    width="344"
                    height="194"
                    scaleRotateCenter="[172.000000, 97.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-172.000000, -97.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                </Poster>
                <Poster
                    id="CardGradient_png_14"
                    uri="pkg:/assets/drawable/default/CardGradient.png"
                    width="344"
                    height="100"
                    scaleRotateCenter="[172.000000, 100.000000]"
                    scale="[1.000000, 0.000000]"
                    translation="[-172.000000, -2.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                </Poster>
                <Label
                    id="S1_E7__The_Lyon___s_Roar_15"
                    color="0xF1F1F1FF"
                    text="S1 E7: The Lyon’s Roar"
                    scaleRotateCenter="[0.000000, 0.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-153.000000, -17.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                    <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="16" />
                </Label>
            </Group>
            <Group
                id="CARD_02_20"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[1150.000000, 107.000000]"
                rotation="0.000000"
                opacity="1.000000">
                <Poster
                    id="CARD_02_17"
                    uri="pkg:/assets/drawable/default/Card_02_02.jpg"
                    width="344"
                    height="194"
                    scaleRotateCenter="[172.000000, 97.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-172.000000, -97.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                </Poster>
                <Poster
                    id="CardGradient_png_18"
                    uri="pkg:/assets/drawable/default/CardGradient.png"
                    width="344"
                    height="100"
                    scaleRotateCenter="[172.000000, 100.000000]"
                    scale="[1.000000, 0.000000]"
                    translation="[-172.000000, -2.000000]"
                    rotation="0.000000"
                    opacity="1.000000">
                </Poster>
                <Label
                    id="S1_E6__Out__Damned_Spot_19"
                    color="0xF1F1F1FF"
                    text="S1 E6: Out, Damned Spot"
                    scaleRotateCenter="[0.000000, 0.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-153.000000, 23.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                    <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="16" />
                </Label>
            </Group>
            <Group
                id="CARD_01_24"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[713.000000, 107.000000]"
                rotation="0.000000"
                opacity="1.000000">
                <Poster
                    id="CARD_01_21"
                    uri="pkg:/assets/drawable/default/Card_01.jpg"
                    width="344"
                    height="194"
                    scaleRotateCenter="[172.000000, 97.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-172.000000, -97.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                </Poster>
                <Poster
                    id="CardGradient_png_22"
                    uri="pkg:/assets/drawable/default/CardGradient.png"
                    width="344"
                    height="100"
                    scaleRotateCenter="[172.000000, 100.000000]"
                    scale="[1.000000, 0.000000]"
                    translation="[-172.000000, -2.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                </Poster>
                <Label
                    id="S1_E5__Dangerous_Bonds_23"
                    color="0xF1F1F1FF"
                    text="S1 E5: Dangerous Bonds"
                    scaleRotateCenter="[0.000000, 0.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-153.000000, 23.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                    <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="16" />
                </Label>
                <Label
                    id="Latest_Episodes_25"
                    color="0xF1F1F1FF"
                    text="Latest Episodes"
                    scaleRotateCenter="[0.000000, 0.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[-172.000000, -165.000000]"
                    rotation="0.000000"
                    opacity="0.500000">
                    <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="17" />
                </Label>
            </Group>
        </Group>
        <Group
            id="LEFT_37"
            scaleRotateCenter="[0.000000, 0.000000]"
            scale="[1.000000, 1.000000]"
            translation="[66.000000, 236.000000]"
            rotation="0.000000"
            opacity="1.000000">
            <Group
                id="PlayButton_32"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[-66.000000, 655.000000]"
                rotation="0.000000"
                opacity="1.000000">
                <Poster
                    id="PlayButtonHeight_jpg_27"
                    uri="pkg:/assets/drawable/default/PlayButtonHeight.jpg"
                    width="3"
                    height="50"
                    scaleRotateCenter="[1.500000, 25.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[639.000000, -25.000000]"
                    rotation="0.000000"
                    opacity="1.000000">
                </Poster>
                <Poster
                    id="PlayButtonHeight_jpg_28"
                    uri="pkg:/assets/drawable/default/PlayButtonHeight.jpg"
                    width="3"
                    height="50"
                    scaleRotateCenter="[1.500000, 25.000000]"
                    scale="[1.000000, 1.000000]"
                    translation="[0.000000, -25.000000]"
                    rotation="0.000000"
                    opacity="1.000000">
                </Poster>
                <Poster
                    id="PlayButtonWidth_jpg_29"
                    uri="pkg:/assets/drawable/default/PlayButtonWidth.jpg"
                    width="156"
                    height="3"
                    scaleRotateCenter="[0.000000, 1.500000]"
                    scale="[4.080000, 1.000000]"
                    translation="[3.000000, -25.000000]"
                    rotation="0.000000"
                    opacity="1.000000">
                </Poster>
                <Poster
                    id="PlayButtonWidth_jpg_30"
                    uri="pkg:/assets/drawable/default/PlayButtonWidth.jpg"
                    width="156"
                    height="3"
                    scaleRotateCenter="[0.000000, 1.500000]"
                    scale="[4.080000, 1.000000]"
                    translation="[3.000000, 22.000000]"
                    rotation="0.000000"
                    opacity="1.000000">
                </Poster>
                <Label
                    id="Play_Episode_31"
                    horizAlign="center"
                    color="0xF1F1F1FF"
                    text="PLAY EPISODE"
                    wrap="true"
                    width="160.000000"
                    height="22.040000"
                    scaleRotateCenter="[81.000000, 11.679930]"
                    scale="[1.000000, 1.000000]"
                    translation="[0.000000, -5.679930]"
                    rotation="0.000000"
                    opacity="1.000000">
                    <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="16" />
                </Label>
            </Group>
            <Label
                id="Lucious_tries_to_steal_a_major_artist_from_his_rival__Jamal_works_on_composing_original_music__and_Hakeem_faces_complications_in_the_lead_up_to_an_important_performance__33"
                color="0xF1F1F1FF"
                text="Lucious tries to steal a major artist from his rival, Jamal works on composing original music, and Hakeem faces complications in the lead up to an important performance."
                wrap="true"
                width="540.000000"
                height="73.080000"
                scaleRotateCenter="[0.000000, 11.679930]"
                scale="[1.000000, 1.000000]"
                translation="[-33.000000, 393.320068]"
                rotation="0.000000"
                opacity="0.500000">
                <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="16" />
            </Label>
            <Label
                id="S1_E4__False_Impulsion_34"
                color="0xEC0E58FF"
                text="S1 E4: False Impulsion"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[-33.000000, 239.000000]"
                rotation="0.000000"
                opacity="0.500000">
                <Font role="font" uri="pkg:/assets/yi_Gotham-Medium.otf" size="17" />
            </Label>
            <Label
                id="Empire_35"
                color="0xF1F1F1FF"
                text="Empire"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[-33.000000, 128.000000]"
                rotation="0.000000"
                opacity="0.500000">
                <Font role="font" uri="pkg:/assets/yi_Myriad Pro-Regular.otf" size="60" />
            </Label>
            <Label
                id="TV_Episode_____TV_14_____42_min_____Drama_36"
                color="0xF1F1F1FF"
                text="TV EPISODE  .  TV 14  .  42 MIN  .  DRAMA"
                scaleRotateCenter="[0.000000, 0.000000]"
                scale="[1.000000, 1.000000]"
                translation="[-33.000000, 79.000000]"
                rotation="0.000000"
                opacity="0.500000">
                <Font role="font" uri="pkg:/assets/yi_Gotham-Book.otf" size="16" />
            </Label>
        </Group>
        <Poster
            id="LogoType_png_38"
            uri="pkg:/assets/drawable/default/LogoType.png"
            width="49"
            height="24"
            scaleRotateCenter="[24.000000, 12.000000]"
            scale="[1.000000, 1.000000]"
            translation="[40.000000, 135.000000]"
            rotation="0.000000"
            opacity="0.500000">
        </Poster>
        <Poster
            id="LogoBorder_png_39"
            uri="pkg:/assets/drawable/default/LogoBorder.png"
            width="89"
            height="82"
            scaleRotateCenter="[87.000000, 19.000000]"
            scale="[2.110000, 2.110000]"
            translation="[97.000000, 54.000000]"
            rotation="0.000000"
            opacity="0.500000">
        </Poster>
        <Poster
            id="RadialGradient_png_40"
            uri="pkg:/assets/drawable/default/RadialGradient.png"
            width="150"
            height="150"
            scaleRotateCenter="[75.000000, 75.000000]"
            scale="[50.000000, 50.000000]"
            translation="[305.000000, 285.000000]"
            rotation="0.000000"
            opacity="0.750000">
        </Poster>
    </children>